*.pyc

# Packages
/dist/*
.venv
/poetry.toml
.env

# Unit test / coverage reports
.coverage
.pytest_cache

.DS_Store
.idea/*
.python-version
.vscode/*

/docs/site/*
.mypy_cache

# scripts
build-and-push.sh
